.letter.A.active .line1 {
  top: 50%;
  rotate: -65deg;
  left: -20%;
}
.letter.A.active .line2 {
  top: 50%;
  rotate: 65deg;
  left: 20%;
}
.letter.A.active .line3 {
  top: 50%;
  left: 27%;
  width: 45%;
}
.letter.A.active .line4,
.letter.A.active .line5,
.letter.A.active .line6,
.letter.A.active .line7,
.letter.A.active .line8,
.letter.A.active .line9,
.letter.A.active .line10 {
  background-color: var(--color-inactive);
}
