.letter.A.active .line1 {
  top: calc(var(--size) / 2);
  rotate: -65deg;
  left: calc(var(--size) / -5);
}
.letter.A.active .line2 {
  top: calc(var(--size) / 2);
  rotate: 65deg;
  left: calc(var(--size) / 5);
}
.letter.A.active .line3 {
  top: calc(var(--size) / 2);
  left: calc(var(--size) * .27);;
  width: calc(var(--size) / 2.2);
}
.letter.A.active .line4,
.letter.A.active .line5,
.letter.A.active .line6,
.letter.A.active .line7,
.letter.A.active .line8,
.letter.A.active .line9,
.letter.A.active .line10 {
  top: calc(var(--size) * 0.9375);
  background-color: var(--color-inactive);
}
