.letter.B.active .line1 {
  top: 47%;
  rotate: 270deg;
  left: -32%;
}
.letter.B.active .line2 {
  top: 0;
  left: 15%;
  width: 50%;
}
.letter.B.active .line3 {
  rotate: 180deg;
  left: 15%;
  top: 39%;
  width: 67%;
}
.letter.B.active .line4 {
  rotate: -180deg;
  left: 15%;
  width: 69%;
  top: 94%;
}
.letter.B.active .line5 {
  rotate: 90deg;
  left: 40%;
  top: 20%;
  width: 45%;
}
.letter.B.active .line6 {
  rotate: -90deg;
  top: 67%;
  left: 50%;
  width: 61%;
}
.letter.B.active .line7,
.letter.B.active .line8,
.letter.B.active .line9,
.letter.B.active .line10 {
  background-color: var(--color-inactive);
}
