.letter.D.active .line1 {
  top: 47%;
  rotate: 270deg;
  left: -32%;
}
.letter.D.active .line2 {
  top: 0;
  left: 15%;
  width: 50%;
}
.letter.D.active .line3 {
  left: 15%;
  width: 50%;
  top: 94%;
}
.letter.D.active .line4 {
  rotate: 90deg;
  width: 57%;
  top: 45%;
  left: 55%;
}
.letter.D.active .line5 {
  rotate: 45deg;
  width: 33%;
  left: 57%;
  top: 9%;
}
.letter.D.active .line6 {
  rotate: -45deg;
  width: 33%;
  left: 57%;
  top: 83%;
}
.letter.D.active .line7,
.letter.D.active .line8,
.letter.D.active .line9,
.letter.D.active .line10 {
  background-color: var(--color-inactive);
}
