.letter.E.active .line1 {
  top: 47%;
  rotate: 270deg;
  left: -32%;
}
.letter.E.active .line2 {
  top: 0;
  width: 67%;
  left: 15%;
}
.letter.E.active .line3 {
  top: 94%;
  width: 67%;
  left: 15%;
}
.letter.E.active .line4 {
  top: 40%;
  width: 50%;
  left: 15%;
}
.letter.E.active .line5,
.letter.E.active .line6,
.letter.E.active .line7,
.letter.E.active .line8,
.letter.E.active .line9,
.letter.E.active .line10 {
  background-color: var(--color-inactive);
}
