.letter.G.active .line1 {
  rotate: -90deg;
  width: 53%;
  top: 48%;
  left: -20%;
}
.letter.G.active .line2 {
  top: 0;
  width: 53%;
  left: 25%;
}
.letter.G.active .line3 {
  rotate: 135deg;
  width: 33%;
  top: 11%;
}
.letter.G.active .line4 {
  width: 48%;
  left: 24%;
  top: 94%;
}
.letter.G.active .line5 {
  rotate: -135deg;
  width: 34%;
  top: 83%;
}
.letter.G.active .line6 {
  rotate: 90deg;
  width: 33%;
  top: 59%;
  left: 74%;
}
.letter.G.active .line7 {
  rotate: -45deg;
  width: 33%;
  top: 83%;
  left: 63%;
}
.letter.G.active .line8 {
  width: 33%;
  top: 45%;
  left: 59%;
}
.letter.G.active .line9,
.letter.G.active .line10 {
  background-color: var(--color-inactive);
}
