.letter.J.active .line1 {
  top: 0%;
  left: 40%;
  width: 50%;
}
.letter.J.active .line2 {
  rotate: 90deg;
  top: 39%;
  width: 84%;
  left: 23%;
}
.letter.J.active .line3 {
  rotate: -45deg;
  width: 25%;
  left: 45%;
  top: 85%;
}
.letter.J.active .line4 {
  width: 25%;
  left: 27%;
}
.letter.J.active .line5 {
  rotate: 45deg;
  width: 25%;
  left: 9%;
  top: 87%;
}
.letter.J.active .line6,
.letter.J.active .line7,
.letter.J.active .line8,
.letter.J.active .line9,
.letter.J.active .line10 {
  background-color: var(--color-inactive);
}
